@page {
  size: A4;
  margin-top: 2mm;
}

body {
    margin: 0px;
    background: #fff;
    color: #333;
    font-family: 'Courier New', Courier, monospace;
  }
  
  
.header {
  
  font-size: 50px;
  text-align: right;
  margin-bottom: 10px;
}
#company-info {
  
  text-align: left;
  margin-bottom: 20px;
}
#company-info, #client-info, .meta, #summary, #notes {
  p {
    margin: 2px;
  }
  margin-bottom: 20px;
}

#company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
#client-info {
  display: flex;
  justify-content: space-between;
}
#quote-table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1px;
}

#summary{
  display: flex;
  float: right;
}
#summary-table, #summary-table th, #summary-table td {
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #999;
  border-collapse: collapse;
  padding: 5px;

}

#quote-table th, #quote-table td {
  border: 1px solid #999;
  padding: 5px;
  text-align: left;
}

#quote-table th {
  background-color: #eee;
}

#footer {
  position: fixed;
  bottom: 25px;
  text-align: center;
  margin-top: 150px;
  font-size: 0.9em;
  color: #555;
}
